*.synctex
*.blg
*.bbl
*.aux
bcsz_mc_paper.log
bcsz_mc_paper.out
*.zip
PaperTemplate-latex/mc2015-latex/figure.png
PaperTemplate-latex/mc2015-latex/Makefile
PaperTemplate-latex/mc2015-latex/mc2015.bst
PaperTemplate-latex/mc2015-latex/mc2015.cls
PaperTemplate-latex/mc2015-latex/references.bib
PaperTemplate-latex/mc2015-latex/template.log
PaperTemplate-latex/mc2015-latex/template.out
PaperTemplate-latex/mc2015-latex/template.pdf
PaperTemplate-latex/mc2015-latex/template.tex
PaperTemplate-latex/__MACOSX/._mc2015-latex
PaperTemplate-latex/__MACOSX/mc2015-latex/._figure.png
PaperTemplate-latex/__MACOSX/mc2015-latex/._Makefile
PaperTemplate-latex/__MACOSX/mc2015-latex/._mc2015.bst
PaperTemplate-latex/__MACOSX/mc2015-latex/._mc2015.cls
PaperTemplate-latex/__MACOSX/mc2015-latex/._references.bib
CSGF_vert.eps
PGM_LLNL_Presentation.pdf